* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

.container {
  width: 1290;
  margin: 0 auto;
  padding-top: 5rem;
}

@font-face {
  font-display: swap;
  font-family: "Gothic A1";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/gothic-a1-v13-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Gothic A1";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/gothic-a1-v13-latin-700.woff2") format("woff2");
}

body {
  font-family: "Gothic A1" sans-serif;
  font-weight: 400;
}

body span {
  line-height: 2rem;
  font-size: 1.2rem;
  letter-spacing: 2px;
  color: rgba(168, 168, 168, 1);
}

body h2 h3 {
  color: rgba(0, 0, 0, 1);
}

body p {
  color: rgba(107, 107, 107, 1);
}

header {
  background: rgb(60, 12, 65);
  background: linear-gradient(
    267deg,
    rgba(60, 12, 65, 1) 0%,
    rgba(207, 0, 99, 1) 100%,
    rgba(75, 14, 30, 0.9360994397759104) 100%
  );
  color: #fff;
}

.richard {
  padding: 2.9rem 14.4rem 2.8rem 14.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
  column-gap: 3rem;
}

.menu a {
  color: rgba(255, 255, 255, 1);
  font-size: 1.5rem;
  line-height: 2rem;
}

.chocco0 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 14.4rem;
}

.chocco-left-p {
  color: #fff;
  font-size: 3rem;
  line-height: 4.4rem;
  padding-top: 1rem;
  padding-bottom: 2.5rem;
}

.chocco-left-h1 {
  font-size: 8rem;
  line-height: 8rem;
}

.button {
  border: none;
  background-color: #fc0a7e;
  padding: 2rem 4rem;
  color: #fff;
  font-size: 1.6rem;
  line-height: 2.6rem;
  border-radius: 3px;
}

.chocco-right {
  width: 90%;
}

.iconca {
  text-align: center;
  padding-bottom: 3rem;
  cursor: pointer;
}

.page {
  background-color: rgba(27, 27, 27, 1);
}

.porta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12rem 0 12rem 0;
}

.porta span {
  font-size: 1.2rem;
  line-height: 2rem;
  letter-spacing: 2px;
  padding-top: 10rem;
}

.porta h2 {
  color: #fff;
  margin-bottom: 5.5rem;
  margin-top: 3.5rem;
  font-size: 3.8rem;
  line-height: 4.8rem;
  max-width: 60.7rem;
  text-align: center;
}

.sanders {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8rem 32.4rem 6rem 27.4rem;
}

.sanders-content span {
  letter-spacing: 2px;
  line-height: 2rem;
  font-size: 1.2rem;
}

.sanders-content h2 {
  font-size: 3.8rem;
  line-height: 4.8rem;
  max-width: 302px;
}

.sanders-content p {
  font-size: 1.6rem;
  line-height: 3rem;
  max-width: 306px;
}

.orders {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8.8rem 30.2rem 8rem 8.8rem;
}

.orders-content h2 {
  line-height: 4.8rem;
  font-size: 3.8rem;
  padding-top: 2.5px;
}

.orders-content p {
  font-size: 1.6rem;
  line-height: 3rem;
  max-width: 306px;
  padding-top: 2.7rem;
}

.orders-image {
  padding-left: 30.2rem;
}

.magna {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.magna-content {
  padding: 8.3rem 19.5rem 0 17.4rem;
}

.magna h2 {
  font-size: 3.2rem;
  line-height: 4.8rem;
  max-width: 291px;
  margin-top: 3rem;
  margin-bottom: 2.2rem;
}

.magna p {
  font-size: 1.6rem;
  line-height: 3rem;
  max-width: 306px;
}

.magna-image {
  padding-right: 32.4rem;
}

.notifications {
  padding: 0 10.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 6.1rem;
}

.activity {
  text-align: center;
}

.activity h4 {
  color: rgba(0, 0, 0, 1);
  line-height: 2.4rem;
  font-size: 1.8rem;
  margin-top: 4rem;
  margin-bottom: 1.7rem;
}

.activity p {
  line-height: 3rem;
  font-size: 1.6rem;
  max-width: 371px;
}

.numbers {
  display: flex;
  justify-content: space-between;
  padding: 0 18.1rem 0 15.8rem;
}

.frame {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.frame strong {
  font-size: 5.9rem;
  line-height: 9rem;
}

.frame span {
  font-weight: 700;
  line-height: 2.4rem;
  font-size: 1.8rem;
  margin-top: 1rem;
  color: rgba(0, 0, 0, 1);
}

.vestibulum,
.parturient-tortor {
  display: flex;
  justify-content: space-between;
  padding: 0 23.5rem 0 27.4rem;
}

.vestibulum h2 {
  font-size: 3.8rem;
  line-height: 4.8rem;
  max-width: 258px;
}

.vestibulum p {
  font-size: 1.6rem;
  line-height: 3rem;
  max-width: 330px;
}

.cras {
  font-weight: 700;
  color: rgba(107, 107, 107, 1);
}

.parturient-tortor h2 {
  font-size: 3.8rem;
  line-height: 4.8rem;
  max-width: 258px;
}

.parturient-tortor p {
  font-size: 1.6rem;
  line-height: 3rem;
  max-width: 330px;
}

.new-york-times {
  padding: 0 36rem 0 36rem;
  text-align: center;
}

.new-york-times p {
  line-height: 4rem;
  font-size: 2.4rem;
  max-width: 700px;
  margin-bottom: 1.7rem;
}

.ractangle {
  margin: 0 1rem 0 1rem;
  background-color: rgba(211, 211, 211, 1);
}

.joshua-home {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 7.2rem;
}

.new-york {
  font-weight: 700;
  line-height: 3rem;
  font-size: 1.6rem;
}

.joshua {
  line-height: 3rem;
  font-size: 1.6rem;
}

.grey {
  color: rgba(34, 34, 34, 1);
  margin-right: 1rem;
}

.nebflow {
  padding-left: 20rem;
}

.vector {
  text-align: center;
  padding: 6rem;
  height: 474px;
  background: url(../imags/vector.svg);
  background-repeat: repeat;
  background: linear-gradient(
    267deg,
    rgba(60, 12, 65, 1) 0%,
    rgba(207, 0, 99, 1) 100%,
    rgba(75, 14, 30, 0.9360994397759104) 100%
  );
  border: 13px;
}

.vector h2 {
  font-size: 3.8rem;
  line-height: 4.8rem;
  margin: 15rem 0 1.7rem 0;
  color: rgba(255, 255, 255, 1);
}

.download {
  background-color: rgba(252, 10, 126, 1);
  padding: 2rem 4rem;
  line-height: 2.6rem;
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 1);
  border: none;
  border-radius: 3px;
}

.toach {
  color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(176, 75, 179, 1);
  background-color: rgb(113, 41, 116);
  padding: 2rem 4rem;
  line-height: 2.6rem;
  opacity: 25%;
  font-size: 1.6rem;
}

.get-up {
  background-color: rgba(27, 27, 27, 1);
  text-align: center;
}

.get-up h2 {
  color: rgba(255, 255, 255, 1);
  font-size: 3.8rem;
  line-height: 4.8rem;
  padding-top: 12rem;
}

.get-up p {
  margin: 4rem 0 2rem 0;
  font-size: 1.6rem;
  line-height: 3rem;
  color: rgba(107, 107, 107, 1);
}

.form {
  display: flex;
  justify-content: center;
}

.subscribe {
  background-color: rgba(252, 10, 126, 1);
  font-size: 1.6rem;
  line-height: 2.6rem;
  padding: 2.2rem 4rem;
  border-radius: 0 3px 3px 0;
  border: none;
}

.your-email {
  width: 311px;
  height: 70px;
  padding: 2rem;
  color: rgba(28, 28, 28, 1);
  line-height: 2.6rem;
  font-size: 1.6rem;
}

footer {
  background-color: rgba(27, 27, 27, 1);
  text-align: center;
  padding-bottom: 6.9rem;
}

.footer-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 3rem;
}

.footer-menu a {
  color: rgba(107, 107, 107, 1);
  font-size: 1.2rem;
  line-height: 2rem;
}
